{% extends 'layout.html' %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <!--Floating Button-->
    <button id="addTaskBtn" type="button" class="btn p-1 btn-primary rounded-circle" title="Add task" data-bs-toggle="modal" data-bs-target="#addTaskModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
    </button>

    <!--Display users tasks-->
    {% if tasks | length > 0 %}
        <div class="d-block m-auto w-100" style="max-width:500px;" id="taskContainer">
            {% for task in tasks %}
                <div class="card mb-2 p-2 text-start d-flex flex-row justify-content-between align-items-center gap-2" id="task-{{ task.id }}">
                    <div class="d-flex flex-row justify-content-between align-items-center gap-3 text-truncate">
                        <!--Check task button-->
                        <button type="button" class="btn btn-sm p-1 {% if task.done == 1 %}btn-primary{% else %}btn-outline-primary{% endif %} rounded-circle" onclick="check_task(this, '{{ task.id }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                            </svg>
                        </button>
                        <!--Task Text-->
                        <div class="d-flex flex-column">
                            <span class="{% if task.done == 1 %}text-decoration-line-through{% endif %}" id="task-text-{{ task.id }}">{{ task.task }}</span>
                            <small class="text-body-secondary">{{ task.label }}</small>
                        </div>
                    </div>
                    <!--Romove Task button-->
                    <button type="button" class="btn" onclick="remove_task('{{ task.id }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Hooray! You have no task!</p>
    {% endif %}
{% endblock %}